
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "bootstrap";
/*
 *= require_tree .
 *= require_self
 */

* {
  font-family: "Spectral", sans-serif;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

html, body {
  height: 100vh;
  background-color: #142b34;
}

.btn-primary {
  color: #fff;
  background-color: #b68448;
  border-color: #b68448;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b68448;
  border-color: #b68448;
}

.landing-title {
  padding-top: 100px;
  color: #c6b27d !important;
}

form {
  display: flex;
}
.submit {
  margin-left: 10px;
}

.author {
  color: #c6b27d !important;
  text-decoration: underline;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
 }

.form-control {
  background-color: #142b34;
}

.form-wrapper div.form-group{
  width: 50%;
}

.card {
 background-color: #142b34;
 color: #afb0b1 !important;
 box-shadow: rgba(21, 21, 21, 1.72) 0 6px 18px 0, rgba(137, 135, 135, 0.24) 0 0 0 1px;
}

a.card {
  color: #afb0b1;
}


h5.card-title {
  color: #c6b27d ;
}

.card-body {
  min-height: 108px;
}

.card-text {
  color: #afb0b1;
}

.card-img-top {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  height: 200px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.url-list div.card {
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2.5%;
  border-radius: 4%;
}

.url-list {
  padding: 50px 100px 100px 100px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#url_text {
  line-height: 30px;
  border:1px solid #535557;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-image {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #afb0b1;
}

.form-control:focus {
  color: #afb0b1;
  background-color: #142b34 !important;
  border-color: #c6b27d;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(233, 202, 114, 0.25);
}

.delete-button {
  background-color: #142b34;
  border:0;
}

.delete-button:focus-visible, .delete-button:focus {
  outline:0;
}

.delete-button-icon {
  height: 25px;
}